@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>This program is made to allow users to register for a recycling pass.</p>
<p>Currently login and pass registration is working, although they aren't fully finisihed they are functional.</p>
<p>TODO: Database analysis, pass editing, basic CSS work, testing, update info on this page.</p>