@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Information will be stored here. I don't have the information atm and I started this way to late to try and fix that.</p>
